## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lahan,NP,2022-07-20 18:09:59,26.7296,86.4951,79.99,82,100,5.26,light rain
1,1,Yeppoon,AU,2022-07-20 18:06:55,-23.1333,150.7333,60.58,87,100,16.20,light rain
2,2,Esperance,AU,2022-07-20 18:05:35,-33.8667,121.9000,60.62,54,100,19.06,overcast clouds
3,3,Sfantu Gheorghe,RO,2022-07-20 18:10:00,45.8667,25.7833,70.27,49,26,4.61,scattered clouds
4,4,Albany,US,2022-07-20 18:02:19,42.6001,-73.9662,94.59,47,6,1.99,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lahan,NP,2022-07-20 18:09:59,26.7296,86.4951,79.99,82,100,5.26,light rain
3,3,Sfantu Gheorghe,RO,2022-07-20 18:10:00,45.8667,25.7833,70.27,49,26,4.61,scattered clouds
5,5,Kahului,US,2022-07-20 18:09:42,20.8947,-156.4700,78.82,65,20,14.97,few clouds
7,7,Albanel,CA,2022-07-20 18:08:39,48.8832,-72.4487,76.50,42,44,2.73,scattered clouds
9,9,Kapaa,US,2022-07-20 18:06:06,22.0752,-159.3190,79.12,86,40,13.80,light rain
10,10,Ahuimanu,US,2022-07-20 18:08:48,21.4447,-157.8378,82.11,69,20,14.97,few clouds
15,15,Ordubad,AZ,2022-07-20 18:10:01,38.9059,46.0234,77.41,55,1,11.54,clear sky
20,20,Rikitea,PF,2022-07-20 18:05:37,-23.1203,-134.9692,73.18,76,3,0.65,clear sky
22,22,Kavieng,PG,2022-07-20 18:06:14,-2.5744,150.7967,81.68,78,100,12.15,light rain
24,24,Hilo,US,2022-07-20 18:04:55,19.7297,-155.0900,78.28,95,75,8.05,moderate rain

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                312
City                   312
Country                312
Date                   312
Lat                    312
Lng                    312
Max Temp               312
Humidity               312
Cloudiness             312
Wind Speed             312
Current Description    312
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lahan,NP,2022-07-20 18:09:59,26.7296,86.4951,79.99,82,100,5.26,light rain
3,3,Sfantu Gheorghe,RO,2022-07-20 18:10:00,45.8667,25.7833,70.27,49,26,4.61,scattered clouds
5,5,Kahului,US,2022-07-20 18:09:42,20.8947,-156.4700,78.82,65,20,14.97,few clouds
7,7,Albanel,CA,2022-07-20 18:08:39,48.8832,-72.4487,76.50,42,44,2.73,scattered clouds
9,9,Kapaa,US,2022-07-20 18:06:06,22.0752,-159.3190,79.12,86,40,13.80,light rain
...,...,...,...,...,...,...,...,...,...,...,...
680,680,Ronde,DK,2022-07-20 18:13:15,56.3014,10.4751,86.43,52,9,8.05,clear sky
682,682,Eydhafushi,MV,2022-07-20 18:13:16,5.1033,73.0708,80.08,79,100,14.43,light rain
685,685,Poniatowa,PL,2022-07-20 18:13:17,51.1798,22.1309,76.91,65,6,7.90,clear sky
689,689,Sihora,IN,2022-07-20 18:13:21,23.4833,80.1167,76.03,96,96,7.29,heavy intensity rain
690,690,Baturaja,ID,2022-07-20 18:13:21,-4.1333,104.1667,73.11,98,55,2.48,broken clouds

In [11]:
clean_df.count()

City_ID                312
City                   312
Country                312
Date                   312
Lat                    312
Lng                    312
Max Temp               312
Humidity               312
Cloudiness             312
Wind Speed             312
Current Description    312
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lahan,NP,79.99,light rain,26.7296,86.4951,
3,Sfantu Gheorghe,RO,70.27,scattered clouds,45.8667,25.7833,
5,Kahului,US,78.82,few clouds,20.8947,-156.4700,
7,Albanel,CA,76.50,scattered clouds,48.8832,-72.4487,
9,Kapaa,US,79.12,light rain,22.0752,-159.3190,
10,Ahuimanu,US,82.11,few clouds,21.4447,-157.8378,
15,Ordubad,AZ,77.41,clear sky,38.9059,46.0234,
20,Rikitea,PF,73.18,clear sky,-23.1203,-134.9692,
22,Kavieng,PG,81.68,light rain,-2.5744,150.7967,
24,Hilo,US,78.28,moderate rain,19.7297,-155.0900,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lahan,NP,79.99,light rain,26.7296,86.4951,Bhattarai Residence
3,Sfantu Gheorghe,RO,70.27,scattered clouds,45.8667,25.7833,Hotel Park
5,Kahului,US,78.82,few clouds,20.8947,-156.4700,Maui Seaside Hotel
7,Albanel,CA,76.50,scattered clouds,48.8832,-72.4487,Camping municipal d'Albanel
9,Kapaa,US,79.12,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
680,Ronde,DK,86.43,clear sky,56.3014,10.4751,Danhostel Rønde
682,Eydhafushi,MV,80.08,light rain,5.1033,73.0708,Soneva Fushi
685,Poniatowa,PL,76.91,clear sky,51.1798,22.1309,Hotel Słowik
689,Sihora,IN,76.03,heavy intensity rain,23.4833,80.1167,Hotel Yash Raj Sihora
690,Baturaja,ID,73.11,broken clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name']!='']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lahan,NP,79.99,light rain,26.7296,86.4951,Bhattarai Residence
3,Sfantu Gheorghe,RO,70.27,scattered clouds,45.8667,25.7833,Hotel Park
5,Kahului,US,78.82,few clouds,20.8947,-156.4700,Maui Seaside Hotel
7,Albanel,CA,76.50,scattered clouds,48.8832,-72.4487,Camping municipal d'Albanel
9,Kapaa,US,79.12,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
680,Ronde,DK,86.43,clear sky,56.3014,10.4751,Danhostel Rønde
682,Eydhafushi,MV,80.08,light rain,5.1033,73.0708,Soneva Fushi
685,Poniatowa,PL,76.91,clear sky,51.1798,22.1309,Hotel Słowik
689,Sihora,IN,76.03,heavy intensity rain,23.4833,80.1167,Hotel Yash Raj Sihora
690,Baturaja,ID,73.11,broken clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))